.nav{
    height: 80px;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}

.title{
    font-weight: 500;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin-left: 2em;
    text-decoration: none;
}

.title:hover{
    color: white;
    transform: scale(1.2);
}

span{
    font-weight: 700;
}

.cart{
    text-decoration: none;
    color: white;
    margin-right: 2em;
    transform: scale(1.5);
}

.cart:hover{
    color: white;
    transform: scale(2);
}

.dslink{
    text-decoration: none;
    color: white;
    margin-right: 2em;
}

.dslink:hover{
    color: white;
    border-bottom: solid white 2px;
}

.threedslink{
    text-decoration: none;
    color: white;
    margin-right: 2em;
}

.threedslink:hover{
    color: white;
    border-bottom: solid white 2px;
}